/* Default styles for larger screens */
.container {
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 90vh;
    gap: 30px;
}

.Header {
    background-color: #C5EBF7 !important;
}

.heading {
    margin: 1 auto;
    max-width: 500px;
    line-height: 4.1rem;
    color: #000;
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading span {
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #1369b9);
    color: transparent;
}

.right img {
    width: 400px;
}

/* Responsive styles for smaller screens (e.g., tablets and mobile) */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 30px 20px;
        margin: 20px;
      
    }
    
    .heading {
        font-size: 2.5rem;
        line-height: 3.5rem;
        max-width: 80%;
        margin: 20px;
        align-items: center;    
        justify-content: center;
    }

    .right img {
        width: 100%;
        max-width: 300px;
    }
}
